<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name="Test0000">
 <!-- <groups>
  <run>
  <include name="one">
  </include>
  </run>
  </groups> -->
  
    <classes>
        <class name="testNg.grid"/>
       
       
      
    </classes>
  </test> <!-- Test0000 -->
  
  <test name="Test0001">
  <classes>
  <class name="testNg.selenium_page"/>
  <class name="testNg.cross"/> 
   </classes>
  </test> <!-- Test0001 -->
</suite> <!-- Suite -->
